@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Montserrat:wght@300&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .text-shadow-tight {
    text-shadow: 0.0621118rem 0.0621118rem 0.1242236rem #347ba1;
  }
}

html,
body,
#__next {
  height: 100%;
}

.prose img {
  @apply rounded-lg;
}
